.clear {
    border: 1px solid rgb(73, 73, 73);
    width: 73%;
    height: 70px;
    padding-top: 27px;
    text-align: center;
    font-size: 4.5rem;

}

.zero {
    border: 1px solid rgb(73, 73, 73);
    width: 73%;
    height: 70px;
    padding-top: 27px;
    text-align: center;
    font-size: 4.5rem;

}

.divide {
    border: 1px solid rgb(73, 73, 73);
    margin-top: -99px;
    padding-top: 27px;
    text-align: center;
    font-size: 4.5em;
    width: 26%;
    height: 70px;
    float: right;
    background-color: red;
}

.equal {
    border: 1px solid rgb(73, 73, 73);
    margin-top: -99px;
    padding-top: 27px;
    text-align: center;
    font-size: 4.5em;
    width: 26%;
    height: 70px;
    float: right;
    background-color: red;
}

.numbers-box {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(73, 73, 73)
}

.numbers-button {
    border: 1px solid rgb(73, 73, 73);
    text-align:center;
    padding-top: 20px;
    font-size: 4.5rem;
    width: 24.5%;
    height: 70px;
}